asgiref==3.8.1
bitarray==2.9.3
black==23.3.0
click==8.1.7
coverage==7.2.5
coverall==1.0.5
Django==4.2.16
django-environ==0.11.2
flake8==6.1.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
psycopg2-binary==2.9.3
pycodestyle==2.11.1
pyflakes==3.1.0
pytz==2024.2
setuptools==75.1.0
sqlparse==0.5.1
